@import "tailwindcss";

* {
  box-sizing: border-box;
}

body {
  background: white;
  color: black;
}

/* ////////////////////// SHIMMER BUTTON BASE ////////////////////// */
button {
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

/* ////////////////////// PRIMARY BUTTON ////////////////////// */
.btn-primary {
  background: linear-gradient(to right, #330113, #990027);
  color: white;
  padding: 12px 28px;
  border-radius: 10px;
  font-weight: 500;
  border: none;
}

/* shimmer layer */
.btn-primary::after {
  content: "";
  position: absolute;
  top: 0;
  left: -75%;
  width: 20%;
  height: 100%;
  background: rgba(255,255,255,0.25);
  transform: skewX(-25deg);
  animation: shimmer 1.5s linear infinite;
  z-index: 2;
}

/* hover gradient overlay */
.btn-primary::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to right, #990027, #330113);
  transform: translateX(-100%);
  transition: transform 0.4s ease;
  z-index: 0;
}

.btn-primary:hover::before {
  transform: translateX(0);
}

.btn-primary span {
  position: relative;
  z-index: 3;
}

/* ////////////////////// SECOND BUTTON ////////////////////// */
.btn-primary2 {
  background: linear-gradient(to right, #330113, #990027);
  color: white;
  padding: 12px 28px;
  width: 100%;
  border-radius: 10px;
  font-weight: 500;
  border: none;
}

.btn-primary2::after {
  content: "";
  position: absolute;
  top: 0;
  left: -75%;
  width: 20%;
  height: 100%;
  background: rgba(255,255,255,0.25);
  transform: skewX(-25deg);
  z-index: 2;

  /* animation shorthand me delay properly add kiya */
  animation: shimmer 1.5s linear 0.7s infinite;
}

.btn-primary2::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to right, #990027, #330113);
  transform: translateX(-100%);
  transition: transform 0.4s ease;
  z-index: 0;
}

.btn-primary2:hover::before {
  transform: translateX(0);
}

.btn-primary2 span {
  position: relative;
  z-index: 3;
}

/* ////////////////////// OUTLINE BUTTON ////////////////////// */
.btn-outline {
  border: 1px solid white;
  color: white;
  padding: 12px 28px;
  border-radius: 10px;
  font-weight: 500;
}

.btn-outline::after {
  content: "";
  position: absolute;
  top: 0;
  left: -75%;
  width: 20%;
  height: 100%;
  background: rgba(255,255,255,0.25);
  transform: skewX(-25deg);
/* animation shorthand me delay properly add kiya */
  animation: shimmer 1.5s linear 0.5s infinite;
  z-index: 2;
}

.btn-outline::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to right, #990027, #330113);
  transform: translateX(-100%);
  transition: transform 0.4s ease;
  z-index: 0;

}

.btn-outline:hover::before {
  transform: translateX(0);
}

.btn-outline span {
  position: relative;
  z-index: 3;
}

/* ////////////////////// SHIMMER ANIMATION ////////////////////// */
@keyframes shimmer {
  0% {
    left: -75%;
  }
  100% {
    left: 125%;
  }
}